.server-status {
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 3rem;
    padding: 0.5rem;
    -webkit-box-shadow: rgba(84, 175, 163, 0.3) 0px 7px 29px ;
            -webkit-box-shadow: rgba(84, 175, 163, 0.3) 0px 7px 29px 0px;
                    box-shadow: rgba(84, 175, 163, 0.3) 0px 7px 29px 0px;
}